<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymyleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Menu Items</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

    <link th:href="@{/styles.css}" rel="stylesheet">

</head>
<body class="container">
<nav th:fragment="navigation">
    <ul class="nav">
        <a href="/">
            <img class="logo" src="https://images.squarespace-cdn.com/content/v1/59626a54e58c62cb702f966f/1550516597840-RQUDC10WZ33QFTLH6UAZ/Seal_blue.png?format=100w" alt="Logo">
        </a>
        <h1>Union Loafers Menu Guide</h1>
        <li class="nav-link"> <a href ="/items"> All Items</a></li>
        <li class="nav-link"><a href="items/create">Create Item</a></li>
<!--        <li class="nav-link"><a href="items/delete">Delete Item</a></li>-->
<!--        <li class="nav-link"><a href="/itemCategories">All Categories</a></li>-->
<!--        <li class="nav-link"><a href="/itemCategories/create">Create Category</a></li>-->
    </ul>


</nav>
</body>
</html>