<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>
<nav th:replace="fragments :: navigation">
    <link th:href="@{/styles/index.css}" rel="stylesheet">
</nav>

<div class="row">
    <div class="col-md-2">
        <nav th:fragment="leftNavigation">
            <ul class="nav flex-column">
                <h3>Categories</h3>
                <li class="nav-item" th:each="category : ${categories}">
                    <a class="nav-link" th:text="${category.name}" th:href="'/items?categoryId=' + ${category.id}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<h1><span th:text="${title}"></span></h1>

</body>
</html>
