<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>
<nav th:replace="fragments :: navigation">
    <link th:href="@{/styles/index.css}" rel="stylesheet">
</nav>
<h1 class="animated-title"><span th:text="${title}"></span></h1>

<div class="row">
    <div class="col-md-2">
        <nav th:fragment="leftNavigation">
            <ul class="nav flex-column">

                <li class="nav-link items-link"><a href="/items"> All Items</a>
                <h3>Categories</h3>
                <li class="nav-item" th:each="category : ${categories}">
                    <a class="nav-link" th:text="${category.name}" th:href="'/items?categoryId=' + ${category.id}"></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/itemCategories/create">Create Category</a></li>
                <li class="nav-link">
                    <a th:href="@{/password-entry(redirectUrl='/items/create')}">Create Item</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>
