<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymyleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<h1>Create Item</h1>
<nav th:replace="fragments :: navigation">
</nav>
<form method="post" action="/items/create">
    <div class="form-group">
        <label>Name
    <input type="text" name="itemName">
        </label>
        <label>Description
            <input type="text" name="itemDesc">
        </label>
    </div>
    <div class="form-group">
    <input type="submit" value="Create Item" class="btn btn-success">
    </div>
</form>
</body>
</html>