<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1>Edit Item</h1>
<div class="item-container">
    <form method="post" th:action="@{'/items/edit/' + ${item.id}}" th:object="${item}">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label>Name</label>
            <input type="text" th:field="*{name}">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" th:field="*{desc}">
        </div>
        <div class="form-group">
            <label>Ingredients</label>
            <input type="text" th:field="*{ingredients}">
        </div>
        <div class="form-group">
            <label>Category</label>
            <select th:field="*{itemCategory}">
                <option th:each="itemCategory : ${categories}"
                        th:value="${itemCategory.id}"
                        th:text="${itemCategory.name}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Image URL</label>
            <input type="text" th:field="*{image}">
            <img th:if="${item.image}" th:src="${item.image}" alt="Item Image">
        </div>
        <div class="form-group">
            <input type="submit" value="Edit Item" class="btn btn-success">
        </div>
    </form>
</div>
</body>
</html>
